################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/BD/.vs/BD/v16
/BD/.vs/BD/v15/Server/sqlite3/db.lock
